.destinations-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.destinations .item header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.destinations .item .img-item {
  width: 100%;
  height: 368px;
}
.destinations .item.tokyo .img-item {
  background: url(../img/tokyo-mobile.jpg) no-repeat center;
  background-size: cover;
}
.destinations .item.osaka .img-item {
  background: url(../img/osaka-mobile.jpg) no-repeat center;
  background-size: cover;
}

.destinations .item header h3 {
  margin: 24px 0;
}

.destinations .item p {
  margin-bottom: 24px;
}
.destinations .button {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .destinations {
    width: 648px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }

  .destinations .item.tokyo .img-item {
    background: url(../img/tokyo-tablet-desk.jpg) no-repeat center;
    background-size: cover;
  }
  .destinations .item.osaka .img-item {
    background: url(../img/osaka-tablet-desk.jpg) no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .destinations {
    width: 900px;
  }

  .destinations .item .img-item {
    width: 100%;
    height: 452px;
  }
}

@media screen and (min-width: 1440px) {
  .destinations {
    width: 1200px;
  }

  .destinations-itens {
    flex-direction: row;
  }
}
