@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secundary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secundary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  color: var(--text-primary-color);
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--title-weight);
  color: var(--primary-color);
}

.section-title h2 {
  font-size: 28px;
  font-weight: var(--title-weight);
  margin: 0;
  text-align: center;
}
.section-title hr {
  width: 180px;
  height: 4px;
  background-color: var(--secundary-color);
  border: none;
  margin: 16px auto 32px;
}

.button {
  display: inline-block;
  width: 280px;
  height: 64px;
  background-color: var(--secundary-color);
  font-weight: var(--title-weight);
  color: var(--text-secundary-color);
  font-size: 20px;
  border-radius: 16px;
  text-decoration: none;
  line-height: 64px;
}

@media screen and (min-width: 768px) {
  .section-title h2 {
    font-size: 32px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    .button:hover {
      background-color: var(--primary-color);
    }
  }
}
