.testimonial-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.testimonial-container article header {
  background-color: transparent;
}

.testimonial-container article header p {
  font-size: 16px;
  line-height: 28px;
}

.testimonial-container article footer {
  display: flex;
  flex-direction: row;
}

.testimonial-container article footer img {
  width: 86px;
  height: 86px;
}

.testimonial-container article footer .profile-content h4 {
  font-size: 20px;
  line-height: 86px;
  font-weight: var(--title-weight);
  margin: 0;
}

.testimonial-container footer .profile-content .rating .star {
  font-size: 32px;
  color: var(--secundary-color);
}

@media screen and (min-width: 1440px) {
  .testimonial-container {
    flex-direction: row;
  }
}
